<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>School Craigslist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TODO: make sure bootstrap.min.css points to BootTheme generated file
        -->
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <!-- TODO: make sure bootstrap-responsive.min.css points to BootTheme
        generated file -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <h3 class="muted">School Craigslist</h3>

        </div>
        <hr>
        <div class="jumbotron">
            <h1>A marketplace for students</h1>

            <p class="lead">School Craigslist is a place to buy and sell everyday items exclusively on campus.</p>
            <a class="btn btn-large btn-success" href="#">Sign up today</a>
        </div>
        <hr>
        <div class="row-fluid marketing">
            <div class="span6">
                <h4>Simplicity</h4>

                <p>Find textbooks, electronics, tutors and more, all in one place.
                </p>
                <h4>Campus Only</h4>

                <p>All users are verified to have a school email, ensuring all postings are from colleagues.</p>
                <h4>Subheading</h4>

                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
            <div class="span6">
                <h4>Subheading</h4>

                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
                </p>
                <h4>Subheading</h4>

                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                <h4>Subheading</h4>

                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
        <hr>
        <div class="footer">
            <p>&copy; Company 2013</p>
        </div>
    </div>
    <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>

</html>
