<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- TODO: make sure bootstrap.min.css points to BootTheme generated file
        -->
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- TODO: make sure bootstrap-responsive.min.css points to BootTheme
        generated file -->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <div class="container">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#"><i class="fa fa-plus-circle fa-lg"></i></a>
                </li>
                <li>
                    <a href="#" id="logout"><i class="fa fa-cog fa-lg"></i></a>
                </li>
            </ul>
            <h3 class="muted">School Craigslist</h3>

        </div>
        <hr>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 bg-primary post-container">        
            <div class="row post">
              <div class="col-sm-10"><h3>Brand new textbook for math 275</h3>
                <div class="row"><div class="col-sm-10"><h5>After dropping the class, I am looking to sell it quickly.</h5></div></div>
              </div>
              <div class="col-sm-2 bg-success price"><h4>$85</h4></div>
            </div> <!-- end post -->
              <hr class="end-post row">
            <div class="row post">
              <div class="col-sm-10"><h3>Title</h3>
                <div class="row"><div class="col-sm-10"><h5>Description</h5></div></div>
              </div>
              <div class="col-sm-2 bg-success price"><h4>Free</h4></div>
            </div> <!-- end post -->
             <hr class="end-post row">
            <div class="row post">
              <div class="col-sm-10"><h3>Title</h3>
                <div class="row"><div class="col-sm-10"><h5>Description</h5></div></div>
              </div>
              <div class="col-sm-2 bg-success price"><h4>Free</h4></div>
            </div> <!-- end post -->
             <hr class="end-post row">
            <div class="row post">
              <div class="col-sm-10"><h3>Title</h3>
                <div class="row"><div class="col-sm-10"><h5>Description</h5></div></div>
              </div>
              <div class="col-sm-2 bg-success price"><h4>Free</h4></div>
            </div> <!-- end post -->
             <hr class="end-post row">
            <div class="row post">
              <div class="col-sm-10"><h3>Title</h3>
                <div class="row"><div class="col-sm-10"><h5>Description</h5></div></div>
              </div>
              <div class="col-sm-2 bg-success price"><h4>Free</h4></div>
            </div> <!-- end post -->
          </div>


        </div>
        <hr>
        <div class="footer">
            <p>&copy; School Craigslist 2014</p>
        </div>
    </div>
    <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>
