<% for (var i = 0; i < posts.length; i++) {  %>
  <div class="row post" data-id="<%= posts[i].id %>">
    <div class="col-sm-10"><h3><%= posts[i].title%></h3>
      <div class="row"><div class="col-sm-10"><h5><%= posts[i].description%></h5></div></div>
    </div>
    <% var price = posts[i].price > 0 ? '$' + posts[i].price : 'Free'; %>
    <div class="col-sm-2 bg-success price"><h4><%= price %></h4></div>
  </div>
  <hr class="end-post row">
<% } %>